beautifulsoup4
pandas
textblob
vaderSentiment
matplotlib
flask
flask-WTF
nltk
gensim
transformers>=4.26.0
torch>=1.12.0
scikit-learn
datasets>=2.5.0
accelerate>=0.26.0
seaborn
huggingface_hub
requests