beautifulsoup4==4.13.4
Faker==37.1.0
imbalanced_learn==0.13.0
matplotlib==3.10.1
nltk==3.9.1
openai==0.28.0
pandas==2.2.3
python-dotenv==1.1.0
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
textblob==0.19.0
transformers==4.51.2
vaderSentiment==3.3.2
vaderSentiment==3.3.2
