<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flight Experience Feedback Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body class="homepage">
  <header>
    <h1>CSC 400 CAPSTONE PROJECT</h1>
    <h2>Airline Experience Feedback Analysis</h2>
    <nav>
      <ul class="main-nav">
        <!-- Main Navigation Links -->
        <li><a href="{{ url_for('index') }}">Home</a></li>
      </ul>

      <!-- Tab Container for Techniques -->
      <div class="tab-container">
        <a href="{{ url_for('all_techniques') }}" class="tab">All Techniques</a>
        <a href="{{ url_for('deep_learning_based_analysis') }}" class="tab">Deep Learning-Based Analysis</a>
        <a href="{{ url_for('scoring_distribution_analysis') }}" class="tab">Scoring & Distribution Analysis</a>
        <a href="{{ url_for('keywords_topics_analysis') }}" class="tab">Keywords & Topics Analysis</a>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- The content of each specific page will go here -->
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 My Website</p>
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
