<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flight Experience Feedback Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
  <header>
    <h1>CSC 400 CAPSTONE PROJECT</h1>
    <h2>Airline Experience Feedback Analysis</h2>
    <nav>
      <a href="{{ url_for('dashboard') }}" class="tab">Dashboard</a>
    </nav>
  </header>

  <main>
    <section>
      <h3>Meet The Team</h3>
      <div class="team-members">
        <div class="member">
          <img src="MBP07234-Edit 3.JPG" alt="Member 1" class="headshot1" />
          <p>Mohamed Ramzeen</p>
        </div>
        <div class="member">
          <img src="IMG_6971.HEIC" alt="Member 2" class="headshot2" />
          <p>Peter Chukwu</p>
        </div>
        <div class="member">
          <img src="assets/member3.jpg" alt="Member 3" class="headshot3" />
          <p>Joseph Rodriguez</p>
        </div>
        <div class="member">
          <img src="assets/member4.jpg" alt="Member 4" class="headshot4" />
          <p>Quinton C Haughton</p>
        </div>
      </div>
    </section>
    <section class="about-project">
      <h3>About the Project</h3>
      <p>
        This project is called Flight Experience Feedback Analysis with Sentiment Analysis. It was done by four CSC 400 students — Peter Chinedu Chukwu, Quinton C Haughton, Mohamed Ramzeen, and Joseph Rodriguez — with help from Professor MD Hossain. The goal is to understand what passengers feel about their flight experience by reading and analyzing their reviews.
      </p>
      <section class="methodology">
        <h3>Methodology</h3>
        <p>
          Our Capstone project, Flight Experience Feedback Analysis, focuses on using data science techniques to extract insights from customer flight reviews. We analyze sentiment, categorize feedback, and visualize findings to help improve airline services and enhance customer satisfaction.
        </p>
      </section>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 My Website</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>
